/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* using scale of 2:3 perfect fifth http://www.modularscale.com/?1&em&1.5*/

/* Base Styles */

html{
  margin: 0;
  background-color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;   /* 22px / 22 = 1 */
  line-height: 1.5em;  /* 33 /22 = 1.5 basic line height*/
}

header{
  position: static;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1em;
  background-image: url("C:\Users\anny\Desktop\Project1\img\Lantern.jpg");
}
main{
  padding-left: 1.5em;
  padding-right: 1.5em;
}
aside{
  padding-left: 1.5em;
  padding-right: 1.5em;
}
/* Layout Styles */
form ul,
form ul li{
  list-style-type: none;
  display: block;
}
h1{
  text-align: center;
  font-size: 1.5em;
  line-height: 2.25em;
  background-color: #8A4B08;
}

ul li{
  text-align: left;
}
li{
  padding-left: 1em;
}

p{
  text-indent: 1em;
  padding-bottom: 1.5em;
  text-align: left;
}

aside{
  background-color: #000000;
  color: #F3E2A9;
}

img{
  display: block;
  max-width: 100%;
}

label{
  display:block;
  text-align: left;
  padding-bottom: 0.5em;
}

/* Modular Styles */
form{
  background-color: #F2F5A9;
  display: block;
}


/* State Styles */
@media screen and (min-width: 320px) {
  html{
    font-size: 1em;
    line-height: 1.5em;
  }
  main{
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  aside{
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  #name,#ID,#major,#email{
    width: 80%;
  }
}

@media screen and (min-width: 640px) {
  html{
    font-size: 1.5em;
    line-height: 2em;
  }
  main{
    padding-left: 2em;
    padding-right: 2em;
  }
  aside{
    padding-left: 2em;
    padding-right: 2em;
  }
  #Lantern{
    align-items: center;
  }
}
